body  .rol{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body .code {
    
 font-size:large;
 

}

body {
   background-color: rgb(250, 247, 242);
}

body .sans {
    font-size: large;

}







    
